{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 50
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 50
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/img/actividades/banner-actividades-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 57877
        }
      },
      {
        "file": "assets/img/actividades/banner-actividades-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 45258
        }
      },
      {
        "file": "assets/img/actividades/banner-actividades-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 55726
        }
      },
      {
        "file": "assets/img/actividades/banner-actividades-4.jpg",
        "config": {
          "optimized": true,
          "originalSize": 55315
        }
      },
      {
        "file": "assets/img/actividades/banner-actividades-5.jpg",
        "config": {
          "optimized": true,
          "originalSize": 68966
        }
      },
      {
        "file": "assets/img/actividades/banner-actividades-6.jpg",
        "config": {
          "optimized": true,
          "originalSize": 52931
        }
      },
      {
        "file": "assets/img/bg.jpg",
        "config": {
          "optimized": true,
          "originalSize": 10235
        }
      },
      {
        "file": "assets/img/contacto/banner.jpg",
        "config": {
          "optimized": true,
          "originalSize": 51686
        }
      },
      {
        "file": "assets/img/donar/ayuda.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 192092
        }
      },
      {
        "file": "assets/img/donar/cosecha.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 400394
        }
      },
      {
        "file": "assets/img/donar/cultivando.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 276866
        }
      },
      {
        "file": "assets/img/donar/cultivo.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 329029
        }
      },
      {
        "file": "assets/img/donar/mayores-edad.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 247110
        }
      },
      {
        "file": "assets/img/donar/ninios-juguetes.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 234857
        }
      },
      {
        "file": "assets/img/donar/ninios.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 254418
        }
      },
      {
        "file": "assets/img/home/Comedorn(3).jpg",
        "config": {
          "optimized": true,
          "originalSize": 1238194
        }
      },
      {
        "file": "assets/img/home/Comedorn(4).jpg",
        "config": {
          "optimized": true,
          "originalSize": 658548
        }
      },
      {
        "file": "assets/img/home/Comedorn(5).jpg",
        "config": {
          "optimized": true,
          "originalSize": 2097456
        }
      },
      {
        "file": "assets/img/home/GYM(3).jpg",
        "config": {
          "optimized": true,
          "originalSize": 325635
        }
      },
      {
        "file": "assets/img/home/GYM(4).jpg",
        "config": {
          "optimized": true,
          "originalSize": 299202
        }
      },
      {
        "file": "assets/img/home/GYM(5).jpg",
        "config": {
          "optimized": true,
          "originalSize": 531147
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03045.jpg",
        "config": {
          "optimized": true,
          "originalSize": 9050455
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03048.jpg",
        "config": {
          "optimized": true,
          "originalSize": 36055205
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03065.jpg",
        "config": {
          "optimized": true,
          "originalSize": 19629635
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03079.jpg",
        "config": {
          "optimized": true,
          "originalSize": 11507631
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03094.jpg",
        "config": {
          "optimized": true,
          "originalSize": 27540935
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03105.jpg",
        "config": {
          "optimized": true,
          "originalSize": 31956236
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03109.jpg",
        "config": {
          "optimized": true,
          "originalSize": 27003031
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03126.jpg",
        "config": {
          "optimized": true,
          "originalSize": 24371192
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03139.jpg",
        "config": {
          "optimized": true,
          "originalSize": 10034860
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03157.jpg",
        "config": {
          "optimized": true,
          "originalSize": 10313601
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03189.jpg",
        "config": {
          "optimized": true,
          "originalSize": 9422077
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03222.jpg",
        "config": {
          "optimized": true,
          "originalSize": 9395210
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03228.jpg",
        "config": {
          "optimized": true,
          "originalSize": 9946172
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03279.jpg",
        "config": {
          "optimized": true,
          "originalSize": 18694991
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03283.jpg",
        "config": {
          "optimized": true,
          "originalSize": 17998671
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03305.jpg",
        "config": {
          "optimized": true,
          "originalSize": 20902648
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03307.jpg",
        "config": {
          "optimized": true,
          "originalSize": 21956302
        }
      },
      {
        "file": "assets/img/home/NEW/A7R03323.jpg",
        "config": {
          "optimized": true,
          "originalSize": 15987525
        }
      },
      {
        "file": "assets/img/home/banner-logros-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 64391
        }
      },
      {
        "file": "assets/img/home/banner-logros-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 55933
        }
      },
      {
        "file": "assets/img/home/banner-logros-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 52707
        }
      },
      {
        "file": "assets/img/home/banner-mision-mob.jpg",
        "config": {
          "optimized": true,
          "originalSize": 99892
        }
      },
      {
        "file": "assets/img/home/banner-mision.jpg",
        "config": {
          "optimized": true,
          "originalSize": 161818
        }
      },
      {
        "file": "assets/img/home/banner-presencia-mob.jpg",
        "config": {
          "optimized": true,
          "originalSize": 133477
        }
      },
      {
        "file": "assets/img/home/banner-presencia.jpg",
        "config": {
          "optimized": true,
          "originalSize": 226151
        }
      },
      {
        "file": "assets/img/home/banner_home-md-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 122915
        }
      },
      {
        "file": "assets/img/home/banner_home-md-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 211567
        }
      },
      {
        "file": "assets/img/home/banner_home-md-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1152543
        }
      },
      {
        "file": "assets/img/home/banner_home-md.jpg",
        "config": {
          "optimized": true,
          "originalSize": 171460
        }
      },
      {
        "file": "assets/img/home/banner_home-sm-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 69863
        }
      },
      {
        "file": "assets/img/home/banner_home-sm-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 106618
        }
      },
      {
        "file": "assets/img/home/banner_home-sm-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 636717
        }
      },
      {
        "file": "assets/img/home/banner_home-sm.jpg",
        "config": {
          "optimized": true,
          "originalSize": 88227
        }
      },
      {
        "file": "assets/img/home/banner_home-xl-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 182640
        }
      },
      {
        "file": "assets/img/home/banner_home-xl-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 305258
        }
      },
      {
        "file": "assets/img/home/banner_home-xl-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 1978209
        }
      },
      {
        "file": "assets/img/home/banner_home-xl.jpg",
        "config": {
          "optimized": true,
          "originalSize": 276117
        }
      },
      {
        "file": "assets/img/home/home-md-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 206435
        }
      },
      {
        "file": "assets/img/home/home-md-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 205701
        }
      },
      {
        "file": "assets/img/home/home-md-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 318983
        }
      },
      {
        "file": "assets/img/home/home-md-4.jpg",
        "config": {
          "optimized": true,
          "originalSize": 226896
        }
      },
      {
        "file": "assets/img/home/home-md-5.jpg",
        "config": {
          "optimized": true,
          "originalSize": 207295
        }
      },
      {
        "file": "assets/img/home/home-sm-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 122556
        }
      },
      {
        "file": "assets/img/home/home-sm-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 125803
        }
      },
      {
        "file": "assets/img/home/home-sm-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 170152
        }
      },
      {
        "file": "assets/img/home/home-sm-4.jpg",
        "config": {
          "optimized": true,
          "originalSize": 116749
        }
      },
      {
        "file": "assets/img/home/home-sm-5.jpg",
        "config": {
          "optimized": true,
          "originalSize": 117622
        }
      },
      {
        "file": "assets/img/home/home-xl-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 350339
        }
      },
      {
        "file": "assets/img/home/home-xl-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 351539
        }
      },
      {
        "file": "assets/img/home/home-xl-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 522012
        }
      },
      {
        "file": "assets/img/home/home-xl-4.jpg",
        "config": {
          "optimized": true,
          "originalSize": 390984
        }
      },
      {
        "file": "assets/img/home/home-xl-5.jpg",
        "config": {
          "optimized": true,
          "originalSize": 327407
        }
      },
      {
        "file": "assets/img/iconos/icono_bienestar.svg",
        "config": {
          "optimized": true,
          "originalSize": 2989
        }
      },
      {
        "file": "assets/img/iconos/icono_salud.svg",
        "config": {
          "optimized": true,
          "originalSize": 3592
        }
      },
      {
        "file": "assets/img/iconos/loader.svg",
        "config": {
          "optimized": true,
          "originalSize": 1318
        }
      },
      {
        "file": "assets/img/logo-blanco.png",
        "config": {
          "optimized": true,
          "originalSize": 68102
        }
      },
      {
        "file": "assets/img/logo-sm.png",
        "config": {
          "optimized": true,
          "originalSize": 11125
        }
      },
      {
        "file": "assets/img/logo.png",
        "config": {
          "optimized": true,
          "originalSize": 23485
        }
      },
      {
        "file": "assets/img/logros/agroecologia/galeria_agroecologia-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 157789
        }
      },
      {
        "file": "assets/img/logros/agroecologia/galeria_agroecologia-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 165458
        }
      },
      {
        "file": "assets/img/logros/agroecologia/galeria_agroecologia-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 174051
        }
      },
      {
        "file": "assets/img/logros/agroecologia/galeria_agroecologia-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 201538
        }
      },
      {
        "file": "assets/img/logros/agroecologia/galeria_agroecologia-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 206187
        }
      },
      {
        "file": "assets/img/logros/alternativas/galeria_alternativas-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 156661
        }
      },
      {
        "file": "assets/img/logros/alternativas/galeria_alternativas-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 151185
        }
      },
      {
        "file": "assets/img/logros/alternativas/galeria_alternativas-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 154370
        }
      },
      {
        "file": "assets/img/logros/alternativas/galeria_alternativas-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 157820
        }
      },
      {
        "file": "assets/img/logros/alternativas/galeria_alternativas-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 190137
        }
      },
      {
        "file": "assets/img/logros/alternativas/galeria_alternativas-06.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 155030
        }
      },
      {
        "file": "assets/img/logros/aves/galeria_aves-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 178121
        }
      },
      {
        "file": "assets/img/logros/aves/galeria_aves-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 174869
        }
      },
      {
        "file": "assets/img/logros/aves/galeria_aves-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 204393
        }
      },
      {
        "file": "assets/img/logros/aves/galeria_aves-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 202687
        }
      },
      {
        "file": "assets/img/logros/aves/galeria_aves-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 185698
        }
      },
      {
        "file": "assets/img/logros/aves/galeria_aves-06.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 212116
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 181485
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 151527
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 167366
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 183366
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 167737
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-05.jpg",
        "config": {
          "optimized": true,
          "originalSize": 216321
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-06.jpg",
        "config": {
          "optimized": true,
          "originalSize": 230261
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-07.jpg",
        "config": {
          "optimized": true,
          "originalSize": 175036
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-08.jpg",
        "config": {
          "optimized": true,
          "originalSize": 167207
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-09.jpg",
        "config": {
          "optimized": true,
          "originalSize": 218834
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_ayuda-10.jpg",
        "config": {
          "optimized": true,
          "originalSize": 194174
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_campos-01.jpg",
        "config": {
          "optimized": true,
          "originalSize": 135267
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_campos-02.jpg",
        "config": {
          "optimized": true,
          "originalSize": 136482
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_campos-03.jpg",
        "config": {
          "optimized": true,
          "originalSize": 128665
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_campos-04.jpg",
        "config": {
          "optimized": true,
          "originalSize": 138634
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_campos-05.jpg",
        "config": {
          "optimized": true,
          "originalSize": 114336
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_odo-1.jpg",
        "config": {
          "optimized": true,
          "originalSize": 68064
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_odo-2.jpg",
        "config": {
          "optimized": true,
          "originalSize": 48629
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_odo-3.jpg",
        "config": {
          "optimized": true,
          "originalSize": 50345
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_odo-4.jpg",
        "config": {
          "optimized": true,
          "originalSize": 54633
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_sierra-01.jpg",
        "config": {
          "optimized": true,
          "originalSize": 66430
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_sierra-02.jpg",
        "config": {
          "optimized": true,
          "originalSize": 93271
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_sierra-03.jpg",
        "config": {
          "optimized": true,
          "originalSize": 83558
        }
      },
      {
        "file": "assets/img/logros/ayuda/galeria_sierra-04.jpg",
        "config": {
          "optimized": true,
          "originalSize": 63902
        }
      },
      {
        "file": "assets/img/logros/cultivo/galeria_cultivo-agave-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 204435
        }
      },
      {
        "file": "assets/img/logros/cultivo/galeria_cultivo-agave-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 179927
        }
      },
      {
        "file": "assets/img/logros/cultivo/galeria_cultivo-agave-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 209694
        }
      },
      {
        "file": "assets/img/logros/cultivo/galeria_cultivo-agave-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 179076
        }
      },
      {
        "file": "assets/img/logros/cultivo/galeria_cultivo-agave-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 216169
        }
      },
      {
        "file": "assets/img/logros/fruticola/galeria_fruticula-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 184760
        }
      },
      {
        "file": "assets/img/logros/fruticola/galeria_fruticula-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 229582
        }
      },
      {
        "file": "assets/img/logros/fruticola/galeria_fruticula-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 158574
        }
      },
      {
        "file": "assets/img/logros/fruticola/galeria_fruticula-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 200913
        }
      },
      {
        "file": "assets/img/logros/fruticola/galeria_fruticula-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 201606
        }
      },
      {
        "file": "assets/img/logros/hortalizas/galeria_hortalizas-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 218923
        }
      },
      {
        "file": "assets/img/logros/hortalizas/galeria_hortalizas-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 202622
        }
      },
      {
        "file": "assets/img/logros/hortalizas/galeria_hortalizas-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 159045
        }
      },
      {
        "file": "assets/img/logros/hortalizas/galeria_hortalizas-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 196883
        }
      },
      {
        "file": "assets/img/logros/hortalizas/galeria_hortalizas-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 233024
        }
      },
      {
        "file": "assets/img/logros/medicina/galeria_medicina-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 131774
        }
      },
      {
        "file": "assets/img/logros/medicina/galeria_medicina-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 175704
        }
      },
      {
        "file": "assets/img/logros/medicina/galeria_medicina-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 161125
        }
      },
      {
        "file": "assets/img/logros/medicina/galeria_medicina-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 138359
        }
      },
      {
        "file": "assets/img/logros/medicina/galeria_medicina-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 145761
        }
      },
      {
        "file": "assets/img/logros/medicina/galeria_medicina-06.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 155812
        }
      },
      {
        "file": "assets/img/logros/odontologia/galeria_odontologia-01.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 137129
        }
      },
      {
        "file": "assets/img/logros/odontologia/galeria_odontologia-02.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 120307
        }
      },
      {
        "file": "assets/img/logros/odontologia/galeria_odontologia-03.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 164053
        }
      },
      {
        "file": "assets/img/logros/odontologia/galeria_odontologia-04.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 137440
        }
      },
      {
        "file": "assets/img/logros/odontologia/galeria_odontologia-05.jpeg",
        "config": {
          "optimized": true,
          "originalSize": 133824
        }
      },
      {
        "file": "assets/img/seo.png",
        "config": {
          "optimized": true,
          "originalSize": 995282
        }
      }
    ]
  }
}
